* {
    box-sizing: border-box;
  }
body {
    background-color: powderblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .toph1{
    color: blue;
    background-color: burlywood;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
    width: 100%;
    position:fixed;
    top:0;
  }
  nav {
    color: black;
    background-color: chocolate;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 25px;
    width: 100%;
    position:fixed;
    top:70px;
  }
  section{
    background-color: khaki;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
  }
  .tbl{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
  }
  p {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
  }

  article {
    color: black;
    background-color: khaki;
    /*margin-top: 0px;*/
    /*margin:auto;*/
    flex-grow: 1;
    padding-left: 15px;
    /*padding-bottom: 25%;*/
    width: 70%;
  }
aside {
    float: right;
    text-align: center;
    color: black;
    background-color: darkgoldenrod;
    text-align: center;
    flex-grow: 1;
    height:max-content;
    width: 30%;
    height: 100%;
}
.ftr{
  color: black;
  background-color: chocolate;
  text-align: center;
  width: 100%;
  position:fixed;
  bottom:0;
  }
/*footer {
    color: black;
    background-color: chocolate;
    /*margin-top: auto;
}*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  width: 9%;
}

  @media (max-width: 600px) {
    nav, article, aside {
      width: 100%;
      height: auto;
    }
}