* {
    box-sizing: border-box;
  }
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    background-color: khaki;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
  }
  nav {
    color: black;
    background-color: chocolate;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 25px;
  }
  p {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
  }

  article {
    color: black;
    background-color: khaki;
    margin-top: 0px;
    padding-left: 15px;
    width: 70%;
  }
aside {
    float: right;
    text-align: center;
    color: black;
    background-color: darkgoldenrod;
    text-align: center;
    padding-right: 50px;
    height:max-content;
    width: 30%;
    height: 100%;
}
footer {
    color: black;
    background-color: chocolate;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  width: 9%;
}

  @media (max-width: 600px) {
    nav, article, aside {
      width: 100%;
      height: auto;
    }
}